<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/TasksModel.js">

    </script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="mainController">
      <ion-header-bar class="bar-energized">
        <h1 class="title">Ionic tasks</h1>
      </ion-header-bar>

     <ion-footer-bar class="bar-calm">
       <div class="row">
         <div class="col col-80">
            <strong>Exibir finalizadas</strong>
         </div>

         <div class="col col-20">
           <label class="toggle">
             <input type="checkbox" ng-model="showMarked">
             <div class="track">
               <div class="handle">

               </div>
             </div>

           </label>
         </div>

       </div>

     </ion-footer-bar>

      <ion-content >
        <div class="row">
          <div class="col">
              <button class="button button-block button-positive" ng-click="onItemAdd()">Add</button>
          </div>
          <div class="col">
            <button class="button button-block button-assertive" ng-click="onClickRemove()">Remove</button>
          </div>
        </div>


        <ion-list show-delete="removeStatus">
          <ion-item ng-repeat="item in lista track by $index" ng-hide="onHideItem(item)">
            <div class="row">
              <div class="col col-90">
                  {{item.nome}}
                  <ion-delete-button class="ion-minus-circled" ng-click="onItemRemove(item)"></ion-delete-button>
                  <ion-option-button class="button-positive" ng-click="onItemEdit(item)">Edit</ion-option-button>
              </div>

            <div class="col col-10">
              <button class="button button-small button-positive button-outline" ng-click="onMarkTask(item)"><i class="icon ion-checkmark" ng-show="item.finalizada"></i></button>
            </div>
            </div>

          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
